html,
body,
#root {
  height: 100%;
}
body,
#header {
  padding-right: 0 !important;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.login-box {
  padding: 9% 0 0;
  height: 100%;
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}
.section-even-bg {
  background: #f6f9ff;
}
