html,
body,
#root {
  /* height: 100%; */
}
body,
#header {
  padding-right: 0 !important;
}
.login-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 0% 0% / cover,
    url(/static/img/bg/background.jpg) center center no-repeat fixed;
  height: 100vh;
}
/* body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 0% 0% / cover,
    url(/static/img/bg/background.jpg) center center no-repeat fixed;
} */
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.login-box {
  padding: 9% 0 0;
  height: 100%;
  /* background: #29abe2;
  background: linear-gradient(to right, #29abe2, #24b196); */
}
.section-even-bg {
  background: #f6f9ff;
}

/* #24b196, #29ABE2 */
.btn-primary,
.btn-primary:hover {
  background-color: #24b196;
  border: 0;
}
.navbar .getstarted,
.btn-claim {
  background: #24b196;
  border: 0;
}
.navbar .getstarted:hover,
.btn-claim,
.navbar .getstarted:focus {
  background: #24b196 !important;
}
.btn-claim {
  color: white;
}

.breadcrumbs {
  background: #24b196;
}
.text-theme-1 {
  color: #24b196;
}
.text-theme-2 {
  color: #29abe2;
}

.bg-theme-1 {
  color: #24b196;
}
.bg-theme-2 {
  color: #29abe2;
}

/* .header .logo span,
.navbar a,
.navbar a:focus,
.section-header p {
  color: #29abe2;
} */

.s-title {
  font-weight: bold;
}
